body {
    background-color: paleturquoise;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.error {
    color: red;
}

.input-field {
    margin: 20px;
}

.button {
    border: none;
    width: 75px;
    height: 50px;
}